services:

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "81:80"
    volumes:
      - ./nginx_config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs:/var/log/nginx
      - ./goaccess:/etc/goaccess
    restart: always

  goaccess:
    image: allinurl/goaccess
    container_name: goaccess
    ports:
      - "7890:7890"   # Web UI available at http://localhost:7890
    volumes:
      - ./logs:/opt/logs:ro        # Mount host logs (access.log, error.log)
      - ./goaccess_config/goaccess.conf:/etc/goaccess/goaccess.conf:ro  # Use your custom config
      - ./goaccess:/report         # Persist generated reports

    command: >
      --config-file=/etc/goaccess/goaccess.conf
      --log-file=/opt/logs/access.log
      --real-time-html
      --output=/report/report.html
      --enable-panel=VIRTUAL_HOSTS
      --tz=Asia/Hong_Kong
      
    restart: always